<h1>Listing realtors</h1>

<table>
  <tr>
  </tr>

<% @realtors.each do |realtor| %>
  <tr>
    <td><%= link_to 'Show', realtor %></td>
    <td><%= link_to 'Edit', edit_realtor_path(realtor) %></td>
    <td><%= link_to 'Destroy', realtor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New realtor', new_realtor_path %>