.menu-content *{
  margin: 0;
  padding: 0;
}

.menu-content{
  float:left;
  display:inline;
  width:100%;
  
}

.menu-content li{
  padding: 0;
  margin: 2px 0px 4px 0px;
  float: left;
}

.menu-content a {
  display: block ;
  text-decoration:none;
}

.menu-content li a{
  padding:0px 8px 0px 8px;
  text-decoration:none;
  border-left:1px solid #4a4a4a;
}
.menu-content li:first-child a{
  border:none;
  padding-left:5px;
}

.menu-content li a:hover{
  color:#fff;
}

.menu-content, .menu-content ul {
  padding: 0 ;
  margin:0px 0px 0px 0px;
  width: 100% ;
  list-style: none ;
  z-index: 999 ;
}

.menu-content li ul li a {
  margin-left:0em;
  width: 173px;
  color: #fff;
  border-left:0;
  padding:2px 0px 2px 4px;
}


.menu-content li ul li a:hover {
  margin-left:0em ;
  width: 173px;
  background-color:#4a4a4a;
  color:#fff;
}

.menu-content li ul li a.daddy {
 width:173px;
  background-position: right center ;
  background-repeat: no-repeat ;
  background-color:  #015031;  
}

.menu-content li ul li {
  padding: 0 ;
  border-left:none;
  display:block;
  margin:0px 0px 5px 0px;
}

.menu-content li ul {
  position: absolute ;
  background: #4770ea;  
  width: 177px;
  left: -999em ;
  border:1px solid #2344e7;
  margin: -2px 0px 0px 1px;
}

.menu-content li ul ul {
  margin: -2em 0 0 165px ;
}

.menu-content li:hover ul ul, .menu-content li.sfhover ul ul {
  left: -999em ;
}

.menu-content li:hover ul, .menu-content li li:hover ul, .menu-content li.sfhover ul, .menu-content li li.sfhover ul {
  left: auto ;
}
.menu-content li:hover, .menu-content li.hover {
    position: static;
}

