<% unless menu.nil?   %>
<ul class="nav nav-pills nav-stacked" >
<% menu.children.each do |menu_item| %>
  <li role="presentation"><%= link_to menu_item.label, menu_item.path %></li>
<% end %>
</ul>
<% end  %>
